.ball {
  background: center(to right, rgb(220, 36, 36), green);
  width: 50px;
  height: 50x;
  border-radius: 70%;
  position: absolute;
  top: 2%;
  left: 2%;
  animation:  5s linear infinite, moveRight 5s linear infinite;
}

@keyframes rotate {
  0% {
    top: 2%;
    height: 50x;
    width: 25px;
    transform: rotate(60deg);
  }
  49% {
    height: 90x;
    width: 100px;
  }
  50% {
    top: 40%;
    height: 40px;
    width: 90x;
  }
  53% {
    top: 88%;
    height: 100px;
    width: 100px;
  }
  60% {
    top: 2%;
    height: 60px;
    width: 60px;
    transform: rotate(360deg);
  }
}
/* Alternative animation style */
@keyframes moveRight {
  from {
    left: 20%;
  }
  to {
    left: 10%;
  }
}