body {
	cursor: pointer;
}

#countryInfo {
	display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10;
	background-image: url('https://image.freepik.com/free-vector/stylish-hexagonal-line-pattern-background_1017-19742.jpg?w=900');
}

.world {
	max-width: 100%;
	border: 10px solid darkblue;
	overflow: hidden;
}

img {
  transition: transform 1s;
}

.world:hover img {
  transform: scale(1.7);
}

.card-title.h5 {
	display: flex;
	flex-direction: row;
	justify-content: center;
	color: hsl(290, 64%, 9%);
	padding: 1%;
	margin-top: 2%;
	text-transform: uppercase;
	text-decoration: underline;
	font-family: fantasy;
}

.card-title img {
	max-width: 40%;
	max-height: 40%;
}

input {
	width: 66.5%;
}

.result {
	width: 100px;
	margin-left: 20%;
}

.searchInput {
	margin-top: 1%;
	font-size: 30px;
	padding-left: 25%;
}

.search {
	background-image: url('https://image.freepik.com/free-vector/stylish-hexagonal-line-pattern-background_1017-19742.jpg?w=900');
	font-size: 30px;
}

@media (max-width: 600px) {
.card-group {
	display: grid;
	grid-template-columns: repeat(1, 1fr);
	}

#countryInfo {
	display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 5;
}

.card-title.h5 {
	font-size: 15px;
}
}

@media (min-width: 700px) {
	#countryInfo.card-group {
		grid-template-columns: repeat(2, 1fr);
	}
}

	@media (min-width: 1100px) {
		#countryInfo.card-group {
			grid-template-columns: repeat(3, 1fr);
	}
}

