body {
	cursor: pointer;
}

div.card-group {
	background-image: url('https://image.freepik.com/free-vector/stylish-hexagonal-line-pattern-background_1017-19742.jpg?w=900');
}

input {
	/* display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center; */
	width: 90vw;
}